        <div class="col-4 content">
            <div class="card">
                <img src="/images/filler-logo.png" style="width:100%">
                <div class="container">
                <h2><b>{{NFP.nfp_name}}</b></h2>
                <h3><b>{{NFP.cause}}</b></h3>
                <h4><b>{{NFP.tags}}</b></h4>
                <p>{{nfp.description}}</p>
                    <div class="pad-b">
                        <button type="button">Reach Out</button>
                    </div>
                </div>
            </div>
        </div>