        <div class="content">
            <div class="card">
                <div class="col-3">
                    <img src="/images/filler-logo.png">
                </div>
                <div class="bod">
                <h2><b>{{dataValues.nfp_name}}: {{dataValues.cause}}</b></h2>
                <h4><b>Tags: {{dataValues.tags}}</b></h4>
                <p>About this NFP: {{dataValues.description}}</p>
                <div class="pad-b">
                        <button type="button">Reach Out</button>
                </div>
                </div>
            </div>
        </div>