        <div class="col-4 content">
            <div class="card">
                <img src="/images/filler-logo.png" style="width:20%">
                <div class="container">
                <h2><b>{{nfp_name}}</b></h2>
                <h3><b>{{cause}}</b></h3>
                <h4><b>{{tags}}</b></h4>
                <p>{{description}}</p>
                    {{!-- <div class="pad-b">
                        <button type="button">Reach Out</button>
                    </div> --}}
                </div>
            </div>
        </div>