<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>howto.help</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="navbar">
    <div class="navheader">
      <h2>
        <a href="/">Home</a>
      </h2>
    </div>
    <div class="navbody">
      <h4>
        <a href="/volunteerlogin">Volunteer Login</a>
        <br>
        <a href="/adminlogin">Admin Login</a>
        <br>
        <a href="/logout">Logout</a>
      </h4>
    </div>
  </div>
  <main>
    <header>
      <h1>HowTo.Help</h1>
    </header>

    {{{ body }}}
    
  </main>
  <footer>
    HowTo.Help
  </footer>
  </div>


  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="./javascript/cat.js"></script>
  <script src="./javascript/volApiCalls.js"></script>

</body>

</html>