<div class="col-12 content">
    <div class="form flex-row">
        <h2 class="col-12">
            Add Non-For-Profit Information!
        </h2>
        <h4>Name of NFP</h4>
        <textarea id="first-name" class="formbox-sl"></textarea>
        <h4>What is the Cause for your NFP?</h4>
        <textarea id="cause" class="formbox-sl"></textarea>
        <h4>Contact Info</h4>
        <textarea id="contact-info" class="formbox-sl" placeholder="Email Adress">Email Adress</textarea>
        <textarea id="phone-number" class="formbox-sl"
            placeholder="10-Digit Phone Number">10-Digit Phone Number</textarea>
        <h4>About/Mission Statement</h4>
        <textarea id="mission-statement" class="formbox-lg"></textarea>
        <div class="col-12 pad">
            <div class="center">
                <button>Save</button>
            </div>
        </div>
        <h4>Search for Volunteers</h4>
        <textarea id="search-name" class="formbox-sl">Search by Name</textarea>
        <textarea id="seearch-NFP" class="formbox-sl">Search by requested NFP</textarea>
        <div class="col-12 pad">
            <div class="center">
                <button>Search</button>
            </div>
        </div>
        
    </div>
</div>