<!--Signup FORM-->
<form class="signup-form">
<div class="col-12 flex-row align-center pad-lr">
    <div id="form-v">
        <div class="form flex-row">
            <p class=" col-12">
                Create your account
            </p>
                <h4>First Name</h4>
                <textarea id="first-name" class="formbox-sl"></textarea>
                <h4>Last Name</h4>
                <textarea id="last-name" class="formbox-sl"></textarea>
                <h4>Email</h4>
                <textarea id="email-signup" class="formbox-sl"></textarea>
                <h4>Password</h4>
                <textarea id="password-signup" class="formbox-sl"></textarea>
            <div class="col-12 center pad-t">
                <button id="save-new">Sign Up!</button>
            </div>
        </div>
    </div>
</div>   
</form>

<script src="/javascript/login.js"></script>   