        <!--LOGIN FORM-->
        <div class="col-12 flex-row align-center pad-lr">
            <div id="form-v">
                <div class="form flex-row">
                    <p class=" col-12">
                        Login to your account
                    </p>
                    <h4>Email</h4>
                    <textarea id="email" class="formbox-sl"></textarea>
                    <h4>Password</h4>
                    <textarea id="password" class="formbox-sl"></textarea>
                    <div class="col-12 center pad-t">
                        <button id="login-btn">Login</button>
                    </div>
                </div>
            </div>
        </div>    
        <!-- END Swapable -->