        <!--LOGIN FORM-->
        <form class="login-form">
        <div class="col-12 flex-row align-center pad-lr">
            <div id="form-v">
                <div class="form flex-row">
                    <p class=" col-12">
                        Login to your account
                    </p>
                    <h4>Email</h4>
                    <textarea id="email-login" class="formbox-sl"></textarea>
                    <h4>Password</h4>
                    <textarea id="password-login" class="formbox-sl"></textarea>
                    <div class="col-12 center pad-t">
                        <button type="submit" id="login-btn">Login</button>
                    </div>
                </div>
            </div>
        </div> 
        </form>

        <script src="/javascript/login.js"></script>  

{{!-- <form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form> --}}



 
        <!-- END Swapable -->