<div class="col-4 content">
            <div class="card">
                <img src="/images/STEAMCoders.png" style="width:100%">
                <div class="container">
                    <h4><b>STEAM Coders</b></h4>
                    <p>STEAM Education</p>
                    <div class="pad-b">
                        <button>Reach Out</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-4 content">
            <div class="card">
                <img src="/images/shanti.png" style="width:100%">
                <div class="container">
                    <h4><b>Shanti Project</b></h4>
                    <p>Human Services</p>
                    <div class="pad-b">
                        <button>Reach Out</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 content">
            <div class="card">
                <img src="/images/oceanBlueProject.png" style="width:100%">
                <div class="container">
                    <h4><b>Ocean Blue Project</b></h4>
                    <p>Environmental Activism</p>
                    <div class="pad-b">
                        <button>Reach Out</button>
                    </div>
                </div>
            </div>
        </div>