<div class="col-12 flex-row align-center">
         {{!--NFP list--}}
         <section class="center pad">
             <h2>We have many NFP partners that we work with to help find volunteers for. </h2>
                <p>
                    Bellow is a full list of NFPs that you, as a member, can reach out to. Just click the button <i>Reach Out</i> and the information you have from your personal page will be sent to the NFP so they can reach out to you with next steps! You can view non-for-profits that you have already reached out to on your Contacted NFPs Page. 
                </p>
         </section>
            <div class="bg-scrabble hide ghost-in">
                <h2 class="center pad-t"> Reach Out to a NFP! </h2>
                <div class=" justify-center pad-lr">
                    <div class=" flex-row ">
                        {{#each nfps as |nfp|}}
                            {{> nfp-btn nfp }}
                        {{/each}}
                    </div> 
                </div>
            </div>
    </div>