<div class="col-12 flex-row align-center">
         {{!--NFP list--}}
            <div class="bg-scrabble hide ghost-in">
                <h2 class="center pad-t"> Reach Out to a NFP! </h2>
                <div class=" justify-center pad-lr">
                    <div class=" flex-row ">
                        {{#each nfps as |nfp|}}
                            {{> nfp-btn nfp }}
                        {{/each}}
                    </div> 
                </div>
            </div>
    </div>