<section class="center pad">
        <h2>Below are the NFPs you have reached out to. </h2>
        <p>
            The non-for-profits below, should reach out to you within a week of your Reach Out. If you need to reach them more urgently, or have any questions, please reach out via the email/phone numbers provided.
            Thank you for your dedication to server! We are excited to help you find the non-for-profit(s) that are right for you!
        </p>
</section>

<div class="bg-scrabble align-center">
        {{!--NFP list--}}
        <div class="pad hide ghost-in">    
            <div class=" justify-center ">
                <div class=" flex-row ">
                    {{#each nfpMe as |volnfps|}}
                        {{> my-nfps volnfps }}
                    {{/each}}
                </div> 
            </div>
        </div>
</div>