:root {
  --primary: #EDD2C4;
  --secondary: #5E887C;
  --tertiary: #AA4924;
  --white: whitesmoke;
  --dark: #13231F;
  --accent: #CC936C;
}

.nfp-c-section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* 2.2 - added flex */
.nfp-c {
  flex: 1;
  margin: 20px;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.nfp-c-img {
  width: 100%;
  min-height: 300px;
  display: flex;
  padding: 15px;
  align-items: flex-end;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  position: relative;
}

.nfp-c-img::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  background-image: linear-gradient(180deg, rgba(252,225,56,0.3) 0%, rgba(2,78,118,1) 100%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .5s linear;
}


.nfp-c-img h3 {
  font-size: 28px;
  position: relative;
  top: 200px;
  transition-duration: .6s;
  transition-timing-function: ease-in-out;
  margin-bottom: 5px;
  z-index: 1;
}

.nfp-c-img h4 {
  font-weight: lighter;
  font-size: 22px;
  position: relative;
  z-index: 1;
  top: 200px;
  transition-duration: .6s;
  transition-delay: .2s;
  transition-timing-function: ease-in-out;
}

.nfp-c:hover .nfp-c-img::after {
  opacity: 1;
}

.nfp-c:hover .nfp-c-img h3, .nfp-c:hover .nfp-c-img h4 {
  transform: translateY(-200px);
}

.nfp-c-bg {
  background-image: url('../images/trainer-1.jpg');
}

/* 2.2 - removed float and width */
.nfp-c-bod {
  padding: 25px;
  line-height: 1.3;
}

.nfp-c-bod h3 {
  font-size: 28px;
  display: none;
}

.nfp-c-bod h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
  display: none;
}

.nfp-c-bod p {
  font-size: 17px;
}
/* TRAINER STYLES END */
