:root {
  --primary: #EDD2C4;
  --secondary: #5E887C;
  --tertiary: #AA4924;
  --white: whitesmoke;
  --dark: #13231F;
  --accent: #CC936C;
  --marmalade: #f1e0b0;

}
/*-- must be in normal css so can have bg transarency--*/
.bg-faded {
  background-color: rgba(245, 245, 245, 0.8);
  width:100%;
  padding:20px;
  height: 100%;
  font-weight:300;
  transition: 1s;
  border-radius: 5px;
}
.bg-faded h2{
  background-color: rgb(250, 230, 220, 1);
  padding:20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  border-radius: 5px;
      color: var(--dark);
  }
.secondary {
      color: var(--accent);
  }
.tertiary {
      color:var(--tertiary);
  }


  .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 0px; /* 5px rounded corners */
      width: 100%;
      min-width:250px;
      background-color: var(--secondary);
      border-radius: 5px;
    }
  
  .card .bod {
      padding: 10px 20px 20px 20px;
      width: 100%;
      height: 100%;
      text-align: center;
      color: var(--white);
    }
  
    .card h3 {
      color: var(--primary);
      font-weight: 300;
      font-size: 20px;
      text-transform: uppercase;
      padding-bottom: 5px;
    }
    .card h4 {
      scroll-padding-top: 5px;
      color: var(--dark);
    }
  
  .card .col-3 img{
    width:100%;
    border-radius: 5px 5px 0 0;
      }  
    
  
    /* On mouse-over, add a deeper shadow */
  .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    }
    
    img {
      border-radius: 5px 5px 0 0;
    }

/*------------------card 2-------------------------*/

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  border-radius: 0px; /* 5px rounded corners */
  min-width: 100%;
  background-color: var(--secondary);
  text-align: left;
  border-radius: 5px;

}
@media screen and (max-width: 700px) {
  .card2 {
    text-align: center;
  }
}

.card2 .bod {
  padding: 20px 20px 20px 40px;
  width: 100%;
  height:100%;
}
.card2 h2 {
  color: var(--white);
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.card2 h3 {
  color: var(--marmalade);
  font-weight: 400;
  padding-bottom: 5px;
}
.card2 h3 :link{
  color: var(--marmalade);
  font-weight: 400;
  padding-bottom: 5px;
}
@media screen and (max-width: 700px) {
  .card2 .bod{
    padding: 10px 10px 10px 10px;
  }
  .card2 h2{
    margin-left: 0px;
  }
}

.card2 h4 {
  color: var(--primary);
}


.card2 .col-3 {
  background-color: var(--tertiary);
  background-size: cover;
  background-position: top;
  min-height:150px;
  height:auto;
  display:flex;
  align-items: center;
  padding:20px 10px; 
  border-radius: 5px;

}
.card2 .col-3 img{
  width:100%;
  max-width:200px;
  margin:auto;
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  font-weight: 500;
}