:root {
    --primary: #fff3d7;
    --secondary: #db4546;
    --tertiary: #b02425;
    --white: white;
    --dark: #38302e;
    --accent: #80ccbf;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    border-radius: 0px; /* 5px rounded corners */
    min-width: 100%;
    background-color: var(--accent);
    text-align: left;
  }

.card .bod {
    padding: 10px 20px 20px 20px;
    width: 100%;
    height:100%;
  }

.card .col-3 {
    background-color: var(--secondary);
    height:100%;
    display:flex;
    align-items: center;
    padding:20px 10px; 
  }
.card .col-3 img{
    width:100%;
    max-width:200px;
    margin:auto;
  }

  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }